// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Thu Sep 12 14:42:52 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/oaksh/desktop/e155/lab2/source/adder.sv"
// file 1 "c:/users/oaksh/desktop/e155/lab2/source/seg_encoder.sv"
// file 2 "c:/users/oaksh/desktop/e155/lab2/source/time_mux.sv"
// file 3 "c:/users/oaksh/desktop/e155/lab2/source/top.sv"
// file 4 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input nreset, input [3:0]s1, input [3:0]s2, output [4:0]sum, 
            output [6:0]seg, output en1, output en2);
    
    (* is_clock=1, lineinfo="@3(15[8],15[15])" *) wire int_osc;
    
    wire VCC_net, nreset_c, s1_c_3, s1_c_2, s1_c_1, s1_c_0, s2_c_3, 
        s2_c_2, s2_c_1, s2_c_0, sum_c_4, sum_c_3, sum_c_2, sum_c_1, 
        sum_c_0, seg_c_6, seg_c_5, seg_c_4, seg_c_3, seg_c_2, seg_c_1, 
        seg_c_0, en1_c, en1_c_N_47, GND_net, s_1__N_11, s_2__N_10, 
        s_0__N_12, s_3__N_9;
    
    VLO i1 (.Z(GND_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b10";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@3(24[11],24[59])" *) time_mux time_mux (nreset_c, en1_c, 
            int_osc, s1_c_0, s2_c_0, s_0__N_12, s1_c_1, s2_c_1, 
            s_1__N_11, s1_c_3, s2_c_3, s_3__N_9, s1_c_2, s2_c_2, 
            s_2__N_10, seg_c_4, en1_c_N_47);
    (* lineinfo="@3(27[14],27[46])" *) seg_encoder ONLY_ONE_SEGMENT_ENCODER (s_2__N_10, 
            s_3__N_9, s_1__N_11, s_0__N_12, seg_c_0, seg_c_3, seg_c_5, 
            seg_c_6, seg_c_2, seg_c_1);
    (* lineinfo="@3(4[26],4[28])" *) IB \s2_pad[0]  (.I(s2[0]), .O(s2_c_0));
    (* lineinfo="@3(4[26],4[28])" *) IB \s2_pad[1]  (.I(s2[1]), .O(s2_c_1));
    (* lineinfo="@3(4[26],4[28])" *) IB \s2_pad[2]  (.I(s2[2]), .O(s2_c_2));
    (* lineinfo="@3(4[26],4[28])" *) IB \s2_pad[3]  (.I(s2[3]), .O(s2_c_3));
    (* lineinfo="@3(4[22],4[24])" *) IB \s1_pad[0]  (.I(s1[0]), .O(s1_c_0));
    (* lineinfo="@3(4[22],4[24])" *) IB \s1_pad[1]  (.I(s1[1]), .O(s1_c_1));
    (* lineinfo="@3(4[22],4[24])" *) IB \s1_pad[2]  (.I(s1[2]), .O(s1_c_2));
    (* lineinfo="@3(4[22],4[24])" *) IB \s1_pad[3]  (.I(s1[3]), .O(s1_c_3));
    (* lineinfo="@3(3[19],3[25])" *) IB nreset_pad (.I(nreset), .O(nreset_c));
    (* lineinfo="@3(7[22],7[25])" *) OB en2_pad (.I(en1_c_N_47), .O(en2));
    (* lineinfo="@3(7[17],7[20])" *) OB en1_pad (.I(en1_c), .O(en1));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@3(6[23],6[26])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@3(5[23],5[26])" *) OB \sum_pad[0]  (.I(sum_c_0), .O(sum[0]));
    (* lineinfo="@3(5[23],5[26])" *) OB \sum_pad[1]  (.I(sum_c_1), .O(sum[1]));
    (* lineinfo="@3(5[23],5[26])" *) OB \sum_pad[2]  (.I(sum_c_2), .O(sum[2]));
    (* lineinfo="@3(5[23],5[26])" *) OB \sum_pad[3]  (.I(sum_c_3), .O(sum[3]));
    (* lineinfo="@3(5[23],5[26])" *) OB \sum_pad[4]  (.I(sum_c_4), .O(sum[4]));
    (* lineinfo="@3(20[8],20[28])" *) adder adder (s1_c_3, s2_c_3, sum_c_4, 
            s1_c_2, s2_c_2, sum_c_3, sum_c_2, s1_c_0, s2_c_0, s1_c_1, 
            s2_c_1, sum_c_1, sum_c_0);
    VHI i2 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module time_mux
//

module time_mux (input nreset_c, output en1_c, input int_osc, input s1_c_0, 
            input s2_c_0, output s_0__N_12, input s1_c_1, input s2_c_1, 
            output s_1__N_11, input s1_c_3, input s2_c_3, output s_3__N_9, 
            input s1_c_2, input s2_c_2, output s_2__N_10, output seg_c_4, 
            output en1_c_N_47);
    
    (* is_clock=1, lineinfo="@3(15[8],15[15])" *) wire int_osc;
    
    wire n153, n40;
    (* lineinfo="@2(10[15],10[22])" *) wire [13:0]counter;
    
    wire n18, n24, n22, n26, n3, n159, n260, n598, GND_net;
    wire [13:0]n61;
    
    wire n258, n595, n256, n592, n254, n589, n252, n586, n250, 
        n583, n248, n580, n577, VCC_net;
    
    (* lut_function="(!(A (B)))" *) LUT4 i394_2_lut (.A(n153), .B(nreset_c), 
            .Z(n40));
    defparam i394_2_lut.INIT = "0x7777";
    (* lut_function="(A+(B))", lineinfo="@2(20[8],20[37])" *) LUT4 i4_2_lut (.A(counter[8]), 
            .B(counter[3]), .Z(n18));
    defparam i4_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(20[8],20[37])" *) LUT4 i10_4_lut (.A(counter[7]), 
            .B(counter[12]), .C(counter[11]), .D(counter[4]), .Z(n24));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@2(20[8],20[37])" *) LUT4 i8_4_lut (.A(counter[6]), 
            .B(counter[0]), .C(counter[10]), .D(counter[13]), .Z(n22));
    defparam i8_4_lut.INIT = "0xfeff";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(20[8],20[37])" *) LUT4 i12_4_lut (.A(counter[2]), 
            .B(n24), .C(n18), .D(counter[5]), .Z(n26));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(20[8],20[37])" *) LUT4 i13_4_lut (.A(counter[1]), 
            .B(n26), .C(n22), .D(counter[9]), .Z(n153));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A))", lineinfo="@2(17[7],17[19])" *) LUT4 i5_1_lut (.A(nreset_c), 
            .Z(n3));
    defparam i5_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i13 (.D(n61[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[13]));
    defparam counter_15__i13.REGSET = "RESET";
    defparam counter_15__i13.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(en1_c), .B(n153), 
            .Z(n159));
    defparam i1_2_lut.INIT = "0x9999";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(33[13],37[12])" *) LUT4 i33_3_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(en1_c), .Z(s_0__N_12));
    defparam i33_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(33[13],37[12])" *) LUT4 i30_3_lut (.A(s1_c_1), 
            .B(s2_c_1), .C(en1_c), .Z(s_1__N_11));
    defparam i30_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(33[13],37[12])" *) LUT4 i24_3_lut (.A(s1_c_3), 
            .B(s2_c_3), .C(en1_c), .Z(s_3__N_9));
    defparam i24_3_lut.INIT = "0xcaca";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n260), .CI0(n260), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n598), .CI1(n598), .CO0(n598), 
            .S0(n61[13]));
    defparam counter_15_add_4_15.INIT0 = "0xc33c";
    defparam counter_15_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i12 (.D(n61[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[12]));
    defparam counter_15__i12.REGSET = "RESET";
    defparam counter_15__i12.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(33[13],37[12])" *) LUT4 i27_3_lut (.A(s1_c_2), 
            .B(s2_c_2), .C(en1_c), .Z(s_2__N_10));
    defparam i27_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B (C)+!B !(D))+!A (C+!(D))))" *) LUT4 seg_c_4_I_0_4_lut_4_lut (.A(s_1__N_11), 
            .B(s_2__N_10), .C(s_0__N_12), .D(s_3__N_9), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut_4_lut.INIT = "0x2f08";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i11 (.D(n61[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[11]));
    defparam counter_15__i11.REGSET = "RESET";
    defparam counter_15__i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n258), .CI0(n258), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n595), .CI1(n595), .CO0(n595), 
            .CO1(n260), .S0(n61[11]), .S1(n61[12]));
    defparam counter_15_add_4_13.INIT0 = "0xc33c";
    defparam counter_15_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@2(33[13],37[12])" *) LUT4 en1_c_I_0_1_lut (.A(en1_c), 
            .Z(en1_c_N_47));
    defparam en1_c_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n256), .CI0(n256), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n592), .CI1(n592), .CO0(n592), 
            .CO1(n258), .S0(n61[9]), .S1(n61[10]));
    defparam counter_15_add_4_11.INIT0 = "0xc33c";
    defparam counter_15_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n254), .CI0(n254), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n589), .CI1(n589), .CO0(n589), 
            .CO1(n256), .S0(n61[7]), .S1(n61[8]));
    defparam counter_15_add_4_9.INIT0 = "0xc33c";
    defparam counter_15_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n252), .CI0(n252), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n586), .CI1(n586), .CO0(n586), 
            .CO1(n254), .S0(n61[5]), .S1(n61[6]));
    defparam counter_15_add_4_7.INIT0 = "0xc33c";
    defparam counter_15_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i10 (.D(n61[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[10]));
    defparam counter_15__i10.REGSET = "RESET";
    defparam counter_15__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i9 (.D(n61[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[9]));
    defparam counter_15__i9.REGSET = "RESET";
    defparam counter_15__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i8 (.D(n61[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[8]));
    defparam counter_15__i8.REGSET = "RESET";
    defparam counter_15__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i7 (.D(n61[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[7]));
    defparam counter_15__i7.REGSET = "RESET";
    defparam counter_15__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i6 (.D(n61[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[6]));
    defparam counter_15__i6.REGSET = "RESET";
    defparam counter_15__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i5 (.D(n61[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[5]));
    defparam counter_15__i5.REGSET = "RESET";
    defparam counter_15__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i4 (.D(n61[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[4]));
    defparam counter_15__i4.REGSET = "RESET";
    defparam counter_15__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i3 (.D(n61[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[3]));
    defparam counter_15__i3.REGSET = "RESET";
    defparam counter_15__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i2 (.D(n61[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[2]));
    defparam counter_15__i2.REGSET = "RESET";
    defparam counter_15__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i1 (.D(n61[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[1]));
    defparam counter_15__i1.REGSET = "RESET";
    defparam counter_15__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(19[15],19[26])" *) FD1P3XZ counter_15__i0 (.D(n61[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n40), .Q(counter[0]));
    defparam counter_15__i0.REGSET = "RESET";
    defparam counter_15__i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n250), .CI0(n250), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n583), .CI1(n583), .CO0(n583), 
            .CO1(n252), .S0(n61[3]), .S1(n61[4]));
    defparam counter_15_add_4_5.INIT0 = "0xc33c";
    defparam counter_15_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n248), .CI0(n248), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n580), .CI1(n580), .CO0(n580), 
            .CO1(n250), .S0(n61[1]), .S1(n61[2]));
    defparam counter_15_add_4_3.INIT0 = "0xc33c";
    defparam counter_15_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(19[15],19[26])" *) FA2 counter_15_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n577), .CI1(n577), .CO0(n577), .CO1(n248), 
            .S1(n61[0]));
    defparam counter_15_add_4_1.INIT0 = "0xc33c";
    defparam counter_15_add_4_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=59, LSE_LLINE=24, LSE_RLINE=24, lineinfo="@2(16[12],25[5])" *) FD1P3XZ ls_osc (.D(n159), 
            .SP(VCC_net), .CK(int_osc), .SR(n3), .Q(en1_c));
    defparam ls_osc.REGSET = "RESET";
    defparam ls_osc.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module seg_encoder
//

module seg_encoder (input s_2__N_10, input s_3__N_9, input s_1__N_11, 
            input s_0__N_12, output seg_c_0, output seg_c_3, output seg_c_5, 
            output seg_c_6, output seg_c_2, output seg_c_1);
    
    
    (* lut_function="(!(A (B ((D)+!C)+!B (C+(D)))+!A !(B (C (D))+!B !((D)+!C))))", lineinfo="@1(10[3],29[10])" *) LUT4 s_3__I_0_4_lut (.A(s_2__N_10), 
            .B(s_3__N_9), .C(s_1__N_11), .D(s_0__N_12), .Z(seg_c_0));
    defparam s_3__I_0_4_lut.INIT = "0x4092";
    (* lut_function="(!(A (B (C+!(D))+!B ((D)+!C))+!A !(B (C (D))+!B !(C))))", lineinfo="@1(10[3],29[10])" *) LUT4 seg_c_3_I_0_4_lut_4_lut (.A(s_0__N_12), 
            .B(s_1__N_11), .C(s_2__N_10), .D(s_3__N_9), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut_4_lut.INIT = "0x4921";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B (D))))", lineinfo="@1(10[3],29[10])" *) LUT4 seg_c_5_I_0_4_lut_4_lut (.A(s_1__N_11), 
            .B(s_0__N_12), .C(s_2__N_10), .D(s_3__N_9), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut_4_lut.INIT = "0x7102";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A !(B+(C+!(D))))", lineinfo="@1(10[3],29[10])" *) LUT4 seg_c_6_I_0_4_lut_4_lut (.A(s_1__N_11), 
            .B(s_0__N_12), .C(s_2__N_10), .D(s_3__N_9), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut_4_lut.INIT = "0xa108";
    (* lut_function="(!(A (B+(C+!(D)))+!A !(B (C (D))+!B !(C))))", lineinfo="@1(10[3],29[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_1__N_11), 
            .B(s_3__N_9), .C(s_2__N_10), .D(s_0__N_12), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0x4301";
    (* lut_function="(!(A (B (C+(D))+!B ((D)+!C))+!A (B ((D)+!C)+!B (C))))", lineinfo="@1(10[3],29[10])" *) LUT4 seg_c_1_I_0_4_lut_4_lut (.A(s_0__N_12), 
            .B(s_1__N_11), .C(s_3__N_9), .D(s_2__N_10), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut_4_lut.INIT = "0x0169";
    
endmodule

//
// Verilog Description of module adder
//

module adder (input s1_c_3, input s2_c_3, output sum_c_4, input s1_c_2, 
            input s2_c_2, output sum_c_3, output sum_c_2, input s1_c_0, 
            input s2_c_0, input s1_c_1, input s2_c_1, output sum_c_1, 
            output sum_c_0);
    
    
    wire n231, n223;
    
    (* lut_function="(A (B+(C))+!A (B (C)))" *) LUT4 i206_3_lut (.A(s1_c_3), 
            .B(s2_c_3), .C(n231), .Z(sum_c_4));
    defparam i206_3_lut.INIT = "0xe8e8";
    (* lut_function="(A (B+(C))+!A (B (C)))" *) LUT4 i198_3_lut (.A(s1_c_2), 
            .B(s2_c_2), .C(n223), .Z(n231));
    defparam i198_3_lut.INIT = "0xe8e8";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut (.A(n231), 
            .B(s2_c_3), .C(s1_c_3), .Z(sum_c_3));
    defparam i2_3_lut.INIT = "0x9696";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut_adj_4 (.A(n223), 
            .B(s2_c_2), .C(s1_c_2), .Z(sum_c_2));
    defparam i2_3_lut_adj_4.INIT = "0x9696";
    (* lut_function="(A (C (D)+!C !(D))+!A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D))))" *) LUT4 i2_3_lut_4_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(s1_c_1), .D(s2_c_1), .Z(sum_c_1));
    defparam i2_3_lut_4_lut.INIT = "0xe11e";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(s1_c_0), .B(s2_c_0), 
            .Z(sum_c_0));
    defparam i1_2_lut.INIT = "0x9999";
    (* lut_function="(A (C+(D))+!A (B (C+(D))+!B (C (D))))" *) LUT4 i190_3_lut_4_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(s2_c_1), .D(s1_c_1), .Z(n223));
    defparam i190_3_lut_4_lut.INIT = "0xfee0";
    
endmodule
