// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Tue Sep 10 08:46:54 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/oaksh/desktop/e155/lab2/source/adder.sv"
// file 1 "c:/users/oaksh/desktop/e155/lab2/source/seg_encoder.sv"
// file 2 "c:/users/oaksh/desktop/e155/lab2/source/time_mux.sv"
// file 3 "c:/users/oaksh/desktop/e155/lab2/source/top.sv"
// file 4 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input [3:0]s1, input [3:0]s2, output [4:0]sum, output [6:0]seg, 
            output en1, output en2);
    
    (* is_clock=1, lineinfo="@3(13[8],13[15])" *) wire int_osc;
    
    wire GND_net, VCC_net, s1_c_3, s1_c_2, s1_c_1, s1_c_0, s2_c_3, 
        s2_c_2, s2_c_1, s2_c_0, sum_c_4, sum_c_3, sum_c_2, sum_c_1, 
        sum_c_0, en1_c, en1_c_N_32, s;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b10";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@3(21[11],21[51])" *) time_mux time_mux (s1_c_0, s2_c_0, 
            en1_c, s, en1_c_N_32, int_osc);
    VLO i1 (.Z(GND_net));
    (* lineinfo="@3(3[35],3[37])" *) IB \s2_pad[0]  (.I(s2[0]), .O(s2_c_0));
    (* lineinfo="@3(3[35],3[37])" *) IB \s2_pad[1]  (.I(s2[1]), .O(s2_c_1));
    (* lineinfo="@3(3[35],3[37])" *) IB \s2_pad[2]  (.I(s2[2]), .O(s2_c_2));
    (* lineinfo="@3(3[35],3[37])" *) IB \s2_pad[3]  (.I(s2[3]), .O(s2_c_3));
    (* lineinfo="@3(3[31],3[33])" *) IB \s1_pad[0]  (.I(s1[0]), .O(s1_c_0));
    (* lineinfo="@3(3[31],3[33])" *) IB \s1_pad[1]  (.I(s1[1]), .O(s1_c_1));
    (* lineinfo="@3(3[31],3[33])" *) IB \s1_pad[2]  (.I(s1[2]), .O(s1_c_2));
    (* lineinfo="@3(3[31],3[33])" *) IB \s1_pad[3]  (.I(s1[3]), .O(s1_c_3));
    (* lineinfo="@3(6[22],6[25])" *) OB en2_pad (.I(en1_c_N_32), .O(en2));
    (* lineinfo="@3(6[17],6[20])" *) OB en1_pad (.I(en1_c), .O(en1));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[0]  (.I(s), .O(seg[0]));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[1]  (.I(GND_net), .O(seg[1]));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[2]  (.I(GND_net), .O(seg[2]));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[3]  (.I(s), .O(seg[3]));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[4]  (.I(s), .O(seg[4]));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[5]  (.I(s), .O(seg[5]));
    (* lineinfo="@3(5[23],5[26])" *) OB \seg_pad[6]  (.I(VCC_net), .O(seg[6]));
    (* lineinfo="@3(4[23],4[26])" *) OB \sum_pad[0]  (.I(sum_c_0), .O(sum[0]));
    (* lineinfo="@3(4[23],4[26])" *) OB \sum_pad[1]  (.I(sum_c_1), .O(sum[1]));
    (* lineinfo="@3(4[23],4[26])" *) OB \sum_pad[2]  (.I(sum_c_2), .O(sum[2]));
    (* lineinfo="@3(4[23],4[26])" *) OB \sum_pad[3]  (.I(sum_c_3), .O(sum[3]));
    (* lineinfo="@3(4[23],4[26])" *) OB \sum_pad[4]  (.I(sum_c_4), .O(sum[4]));
    (* lineinfo="@3(18[8],18[28])" *) adder adder (s1_c_0, s2_c_0, sum_c_0, 
            s1_c_3, s2_c_3, sum_c_4, s1_c_2, s2_c_2, sum_c_3, sum_c_2, 
            s1_c_1, s2_c_1, sum_c_1);
    
endmodule

//
// Verilog Description of module time_mux
//

module time_mux (input s1_c_0, input s2_c_0, output en1_c, output s, 
            output en1_c_N_32, input int_osc);
    
    (* is_clock=1, lineinfo="@3(13[8],13[15])" *) wire int_osc;
    (* lineinfo="@2(10[15],10[22])" *) wire [12:0]counter;
    
    wire n16, n22, n20, n24, n138, n134, n185, n414, GND_net;
    wire [12:0]n57;
    
    wire n183, n411, n181, n408, n179, n405, n177, n402, n175, 
        n399, n396, VCC_net;
    
    (* lut_function="(!(A (B+!(C))+!A (B (C))))", lineinfo="@2(27[13],31[12])" *) LUT4 i36_3_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(en1_c), .Z(s));
    defparam i36_3_lut.INIT = "0x3535";
    (* lut_function="(!(A))", lineinfo="@2(27[13],31[12])" *) LUT4 en1_c_I_0_1_lut (.A(en1_c), 
            .Z(en1_c_N_32));
    defparam en1_c_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B))", lineinfo="@2(15[7],15[35])" *) LUT4 i3_2_lut (.A(counter[4]), 
            .B(counter[9]), .Z(n16));
    defparam i3_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(15[7],15[35])" *) LUT4 i9_4_lut (.A(counter[1]), 
            .B(counter[11]), .C(counter[0]), .D(counter[2]), .Z(n22));
    defparam i9_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(15[7],15[35])" *) LUT4 i7_3_lut (.A(counter[10]), 
            .B(counter[8]), .C(counter[3]), .Z(n20));
    defparam i7_3_lut.INIT = "0xfefe";
    (* lut_function="((B+(C+(D)))+!A)", lineinfo="@2(15[7],15[35])" *) LUT4 i11_4_lut (.A(counter[12]), 
            .B(n22), .C(n16), .D(counter[5]), .Z(n24));
    defparam i11_4_lut.INIT = "0xfffd";
    (* lut_function="(!(A+(B+(C+(D)))))", lineinfo="@2(15[7],15[35])" *) LUT4 i247_4_lut (.A(counter[7]), 
            .B(n24), .C(n20), .D(counter[6]), .Z(n138));
    defparam i247_4_lut.INIT = "0x0001";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(en1_c), .B(n138), 
            .Z(n134));
    defparam i1_2_lut.INIT = "0x6666";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n185), .CI0(n185), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n414), .CI1(n414), .CO0(n414), 
            .S0(n57[11]), .S1(n57[12]));
    defparam counter_10_add_4_13.INIT0 = "0xc33c";
    defparam counter_10_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n183), .CI0(n183), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n411), .CI1(n411), .CO0(n411), 
            .CO1(n185), .S0(n57[9]), .S1(n57[10]));
    defparam counter_10_add_4_11.INIT0 = "0xc33c";
    defparam counter_10_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i12 (.D(n57[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[12]));
    defparam counter_10__i12.REGSET = "RESET";
    defparam counter_10__i12.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n181), .CI0(n181), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n408), .CI1(n408), .CO0(n408), 
            .CO1(n183), .S0(n57[7]), .S1(n57[8]));
    defparam counter_10_add_4_9.INIT0 = "0xc33c";
    defparam counter_10_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n179), .CI0(n179), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n405), .CI1(n405), .CO0(n405), 
            .CO1(n181), .S0(n57[5]), .S1(n57[6]));
    defparam counter_10_add_4_7.INIT0 = "0xc33c";
    defparam counter_10_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i11 (.D(n57[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[11]));
    defparam counter_10__i11.REGSET = "RESET";
    defparam counter_10__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i10 (.D(n57[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[10]));
    defparam counter_10__i10.REGSET = "RESET";
    defparam counter_10__i10.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n177), .CI0(n177), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n402), .CI1(n402), .CO0(n402), 
            .CO1(n179), .S0(n57[3]), .S1(n57[4]));
    defparam counter_10_add_4_5.INIT0 = "0xc33c";
    defparam counter_10_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n175), .CI0(n175), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n399), .CI1(n399), .CO0(n399), 
            .CO1(n177), .S0(n57[1]), .S1(n57[2]));
    defparam counter_10_add_4_3.INIT0 = "0xc33c";
    defparam counter_10_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(14[14],14[25])" *) FA2 counter_10_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n396), .CI1(n396), .CO0(n396), .CO1(n175), 
            .S1(n57[0]));
    defparam counter_10_add_4_1.INIT0 = "0xc33c";
    defparam counter_10_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i9 (.D(n57[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[9]));
    defparam counter_10__i9.REGSET = "RESET";
    defparam counter_10__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i8 (.D(n57[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[8]));
    defparam counter_10__i8.REGSET = "RESET";
    defparam counter_10__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i7 (.D(n57[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[7]));
    defparam counter_10__i7.REGSET = "RESET";
    defparam counter_10__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i6 (.D(n57[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[6]));
    defparam counter_10__i6.REGSET = "RESET";
    defparam counter_10__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i5 (.D(n57[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[5]));
    defparam counter_10__i5.REGSET = "RESET";
    defparam counter_10__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i4 (.D(n57[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[4]));
    defparam counter_10__i4.REGSET = "RESET";
    defparam counter_10__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i3 (.D(n57[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[3]));
    defparam counter_10__i3.REGSET = "RESET";
    defparam counter_10__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i2 (.D(n57[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[2]));
    defparam counter_10__i2.REGSET = "RESET";
    defparam counter_10__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i1 (.D(n57[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[1]));
    defparam counter_10__i1.REGSET = "RESET";
    defparam counter_10__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(14[14],14[25])" *) FD1P3XZ counter_10__i0 (.D(n57[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n138), .Q(counter[0]));
    defparam counter_10__i0.REGSET = "RESET";
    defparam counter_10__i0.SRMODE = "CE_OVER_LSR";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=51, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@2(13[12],19[5])" *) FD1P3XZ ls_osc (.D(n134), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(en1_c));
    defparam ls_osc.REGSET = "RESET";
    defparam ls_osc.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module adder
//

module adder (input s1_c_0, input s2_c_0, output sum_c_0, input s1_c_3, 
            input s2_c_3, output sum_c_4, input s1_c_2, input s2_c_2, 
            output sum_c_3, output sum_c_2, input s1_c_1, input s2_c_1, 
            output sum_c_1);
    
    
    wire n160, n152;
    
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(s1_c_0), .B(s2_c_0), 
            .Z(sum_c_0));
    defparam i1_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B+(C))+!A (B (C))))" *) LUT4 i253_3_lut (.A(s1_c_3), 
            .B(s2_c_3), .C(n160), .Z(sum_c_4));
    defparam i253_3_lut.INIT = "0x1717";
    (* lut_function="(A (B+(C))+!A (B (C)))" *) LUT4 i131_3_lut (.A(s1_c_2), 
            .B(s2_c_2), .C(n152), .Z(n160));
    defparam i131_3_lut.INIT = "0xe8e8";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(B (C)+!B !(C))))" *) LUT4 i2_3_lut (.A(n160), 
            .B(s2_c_3), .C(s1_c_3), .Z(sum_c_3));
    defparam i2_3_lut.INIT = "0x6969";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(B (C)+!B !(C))))" *) LUT4 i2_3_lut_adj_1 (.A(n152), 
            .B(s2_c_2), .C(s1_c_2), .Z(sum_c_2));
    defparam i2_3_lut_adj_1.INIT = "0x6969";
    (* lut_function="(!(A (C (D)+!C !(D))+!A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i2_3_lut_4_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(s1_c_1), .D(s2_c_1), .Z(sum_c_1));
    defparam i2_3_lut_4_lut.INIT = "0x1ee1";
    (* lut_function="(A (C+(D))+!A (B (C+(D))+!B (C (D))))" *) LUT4 i123_3_lut_4_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(s2_c_1), .D(s1_c_1), .Z(n152));
    defparam i123_3_lut_4_lut.INIT = "0xfee0";
    
endmodule
